@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: "Work Sans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}

#root {
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.icons-spacer {
  height: 1.5rem;
  background-color: aliceblue;
}
.content-container, .projects-container {
  border: 1px solid white;
  width: 90%;
  max-height: 40%;
  margin: 0px auto;
  overflow-y: scroll;
  padding: 0.5rem;
}
.projects-container {
  max-height: 32%;
}

@keyframes dissolvein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.animate {
  animation: 0.5s ease-in dissolvein;
}


h1 {
  font-family: "Work Sans";
  font-weight: 300;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

.icons-tray {
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
  position: fixed;
  right: 1rem;
  bottom: 1rem;  
}



nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.2rem 0.5rem;
}

nav h1, nav h2 {
  font-size: 1.2rem
}
.nav-tray {
  display: flex;
  min-width: 45%;
  justify-content: space-between;
  align-items: center;
}
.nav-button {
  border: 0.05rem solid white;
  border-radius: 0.6rem;
  background: none;
  color: white;
  height: 2rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.active-project {
  font-weight: 1000;
  transition: font-weight 0.4s ease-in-out;
}

.content-image {
  max-width: 100%;
}

@keyframes bgr-idle {
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(5px, 5px); 
  }
}
.bgr-animated {
  z-index: -1;
  opacity: 20%;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: blue;
  animation: 3s ease-in-out infinite bgr-idle;
}

.two {
  left: 100px;
}

.three {
  left: 200px;
}

.four {
  left: 300px;
}