body {
  margin: 0;
  font-family: "Work Sans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 20);
  color: white;
}

body.light-mode {
  background-color: rgb(242, 255, 254);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 80%;
}

#content-container, #projects-container {
  border: 1px solid white;
  width: 90%;
  margin: 0px auto;
  padding: 0.5rem;
}
#projects-container, #content-wrapper {
  overflow-y: scroll;
}

.light-mode #content-container, .light-mode #projects-container {
  border-color: black;
}

#projects-container {
  margin-bottom: 1rem;
  min-height: 40%;
  max-height: 100%;
}

#content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 40%;
  max-height: 100%;
}

#content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-title, #projects-header {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  align-self: flex-start;
}

/* Handles style clearing for <button> elements including on projects field and in navbar */
#projects-container .projects-project, #nav-logo {
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 1rem;
  color: inherit;
  background: none;
  border: none;
  text-align: left;
  padding: 0px;
  margin-left: 0.2rem;
}


#projects-container .projects-title {
  margin-top: 0.2rem;
}
#projects-container .projects-description {
  padding-bottom: 0.2rem;
}

#projects-container hr, #content-container hr {
  max-width: 25rem;
  border: 0;
  height: 1px;
  margin: 0.75em 0em;
  justify-self: flex-start;
  background-image: linear-gradient(to right, rgba(255,255,255,0.75), rgba(0,0,0,0));
}

.light-mode #projects-container hr, .light-mode #content-container hr {
  background-image: linear-gradient(to right, rgba(0,0,0,.4), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
#content-container hr {
  min-width: 10rem;
  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}
.light-mode #content-container hr {
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#projects-container h3 {
  margin-bottom: 1rem;
}

#nav-logo {
  font-size: 1.2rem;
  margin: 0rem;
  font-weight: 300;
  align-self: center;
}

.content-image {
  max-width: 100%;
}

p.content-target, span.content-target {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.active-project .projects-title, .active-project .projects-description {
  font-weight: 1000;
  transition: font-weight 0.1s ease-in;
}

#content-container .repo-link {
  color: white;
  align-self: flex-start;
}
.light-mode #content-container .repo-link {
  color: black;
}

.content-inline {
  display: inline;
  vertical-align: middle;
  text-decoration: none;
}

@keyframes dissolvein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.animate {
  animation: 0.5s ease-in dissolvein;
}

#content-container .scroll-indicator {
  position: absolute;
  bottom: 1rem;
  opacity: 1;
  z-index: 2;
  left: calc(50% - 0.6rem);
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
}

.fadeout {
    animation: dissolveout 1s linear forwards;
}

@keyframes dissolveout {
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  font-family: "Work Sans";
  font-weight: 300;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
}

footer {
  display: flex;
  position: absolute;
  width: 100%;
  min-height: 2%;
  bottom: 0%;
  right: 0%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
  
}

#mode-tray {
  padding-left: 0.567rem;
}
#icons-tray {
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
  padding-right: 0.567rem;
}

#icons-tray a {
  color: white;
}
.light-mode #icons-tray a {
  color: black;
}

#light-mode-icon {
  display: none;
}

nav {
  max-width: 100%;
  max-height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.2rem 1rem;
  margin: 0.6rem 0rem 0rem 0rem;
}

.nav-tray {
  display: flex;
  min-width: 45%;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.nav-button {
  border: 1.5px solid white;
  border-radius: 0.6rem;
  background-color:rgba(255, 255, 255, 0);
  color: white;
  height: 2rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  transition: background-color .7s ease-in-out;
  transition: color .8s ease-out;
}
.light-mode .nav-button {
  border-color: black;
  background-color:rgba(255, 255, 255, 0);
  color: black;
  transition: background-color .7s ease-in-out;
  transition: color .8s ease-out;
}


/* YT +  Facade */

.yt-container {
  width: 60%;
  height: fit-content;
  margin: 0px auto;
}

/* Needed CSS for Lite Youtube Embed */
.yt-lite {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

/* gradient */
.yt-lite::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  background-position: top;
  background-repeat: repeat-x;
  height: 60px;
  padding-bottom: 50px;
  width: 100%;
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

/* responsive iframe with a 16:9 aspect ratio
  thanks https://css-tricks.com/responsive-iframes/
*/
.yt-lite::after {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}
.yt-lite > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* play button */
.yt-lite > .lty-playbtn {
  width: 70px;
  height: 46px;
  background-color: #212121;
  z-index: 1;
  opacity: 0.8;
  border-radius: 14%; /* TODO: Consider replacing this with YT's actual svg. Eh. */
  transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}
.yt-lite:hover > .lty-playbtn {
  background-color: #f00;
  opacity: 1;
}
/* play button triangle */
.yt-lite > .lty-playbtn:before {
  content: '';
  border-style: solid;
  border-width: 11px 0 11px 19px;
  border-color: transparent transparent transparent #fff;
}

.yt-lite > .lty-playbtn,
.yt-lite > .lty-playbtn:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

/* Post-click styles */
.yt-lite.lyt-activated {
  cursor: unset;
}
.yt-lite.lyt-activated::before,
.yt-lite.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}

#reddit-container {
  position: relative;
}
#tutorial-animation-pointer {
  color: white;
  position: absolute;
  transform: rotate(-25deg);
  opacity: 0;
  top: 0.8em;
  right: 40%;
  z-index: 2;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.8));
  animation: tutorial 2.5s 0.5s linear forwards;
}
.light-mode #tutorial-animation-pointer {
  color: rgba(0, 0, 0, 0.795)
}
/* Animation for Mobile Tutorial */
@keyframes tutorial {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  55% {
    transform: translateX(-70px) rotate(-25deg);
  }
  60% {
    transform: translateX(-70px) rotate(-25deg);
  }
  62% {
    transform: translateX(-70px) rotate(-38deg);
  }
  65% {
    transform: translateX(-70px) rotate(-25deg);
  }
  85% {
    transform: translateX(-70px) rotate(-25deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-90px) rotate(-25deg);
    opacity: 0;
  }
}

/* Media Breakpoints */
@media screen and (orientation: landscape) and (max-width: 768px) {

}

@media screen and (min-width: 768px) {
  /* .styled-scrollbar {
    --scrollbar-foreground: rgba(255,255,255,0.9);
    --scrollbar-background: rgba(255,255,255,0.2);
    scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);
  }
  .styled-scrollbar::-webkit-scrollbar {
    width: 0.8rem;
  }
  .styled-scrollbar::-webkit-scrollbar-button {
    display: none;
  }
  .styled-scrollbar::-webkit-scrollbar-thumb {
    background: var(--scrollbar-foreground);
    width: 0.7rem;
    border-radius: 5px;
  }
  .styled-scrollbar::-webkit-scrollbar-track {
    background: var(--scrollbar-background);
  }
  .styled-scrollbar::-webkit-scrollbar-track-piece {
  }
  .styled-scrollbar::-webkit-scrollbar-corner {

  } */

  iframe.content-target {
    width: 30rem;
    height: 16rem;
  }

  #tutorial-animation-pointer {
    left: 25%;
  }

  .projects-project:hover {
    cursor: pointer;
  }

}



@media screen and (min-width: 1024px) {
  nav h1 {
    font-size: 1.5rem;
  }

  #main-container {
    flex-direction: row;
    height: 80%;
  }

  #content-container, #projects-container {
    border-width: 2px;
    width: 47%;
    max-height: 100%;
    padding: 0.5rem;
    margin: 1rem;
  }
  #content-wrapper, #projects-container {
    overflow-y: initial;
  }

  .content-title, #projects-header {
    font-size: 1.7rem;
  }
  
  #projects-container .projects-project {
    font-size: 1.1rem;
    transition: text-shadow 0.5s ease-in-out;
  }

  #projects-container .projects-project:hover {
    text-shadow: 0 0 20px #FFF;
  }
  .light-mode #projects-container .projects-project:hover {
    text-shadow: 0 0 20px rgba(25, 25, 25, 0.9);
  }

  #content-container a {
    max-height: 60%;
  }
  #content-container img {
    max-height: 100%;
  }

  footer {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  #mode-tray {
    padding-left: 1rem;
  }
  #icons-tray {
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
    padding-right: 1rem;
  }

  .nav-button {
    transition: background-color .2s ease-in;
  }
  .nav-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
  .light-mode .nav-button:hover {
    background-color: rgba(25, 25, 25, 0.4);
    color: white;
  }

  #content-container hr {
    min-width: 60%;
    max-width: 95%;
  }

  #tutorial-animation-pointer {
    display: none;
  }

}

/* ensures containers are scrollable on all mobile screens */
@media screen and (hover: none) and (pointer: coarse) {
  #content-container, #projects-container {
    overflow-y: scroll;
  }
}