@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: "Work Sans", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 20);
  color: white;
}

body.light-mode {
  background-color: rgb(242, 255, 254);
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 
}

#root {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 80%;
}

#content-container, #projects-container {
  border: 1px solid white;
  width: 90%;
  margin: 0px auto;
  overflow-y: scroll;
  padding: 0.5rem;
}
.light-mode #content-container, .light-mode #projects-container {
  border-color: black;
}

#projects-container {
  max-height: 32%;
  margin-bottom: 1rem;
}

#content-container {
  display: flex;
  max-height: 60%;
  flex-direction: column;
  align-items: center;
}

#content-container h3, #projects-container h3 {
  margin-top: 0.2rem;
  margin-left: 0.2rem;
  align-self: flex-start;
}

#projects-container div {
  margin-left: 0.2rem;
}


#projects-container hr {
  max-width: 25rem;
  border: 0;
  height: 1px;
  margin: 0.75em 0em;
  justify-self: flex-start;
  background-image: linear-gradient(to right, rgba(255,255,255,0.75), rgba(0,0,0,0));
}
.light-mode #projects-container hr {
  background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}

#projects-container h3 {
  margin-bottom: 1rem;
}

#projects-container p {
  margin-top: 0.5em;
}

.content-image {
  max-width: 100%;
  /* max-height: 80%; */
}

p.content-target {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  margin-bottom: 0.5rem;
}

.active-project {
  font-weight: 1000;
  transition: font-weight 0.4s ease-in-out;
}

#content-container .repo-link {
  color: white;
  align-self: flex-start;
}
.light-mode #content-container .repo-link {
  color: black;
}


@keyframes dissolvein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.animate {
  animation: 0.5s ease-in dissolvein;
}


h1 {
  font-family: "Work Sans";
  font-weight: 300;
}

h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
}

footer {
  display: flex;
  position: absolute;
  width: 100%;
  bottom: 0%;
  right: 0%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

#mode-tray {
  padding-left: 0.567rem;
}
#icons-tray {
  display: flex;
  justify-content: space-between;
  width: 6.5rem;
  padding-right: 0.567rem;
}

#icons-tray a {
  color: white;
}
.light-mode #icons-tray a {
  color: black;
}

#light-mode-icon {
  display: none;
}

nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0.2rem 1rem;
}

nav h1 {
  margin-bottom: 0.5rem;
}

nav h1, nav h2 {
  font-size: 1.2rem
}
.nav-tray {
  display: flex;
  min-width: 45%;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
}
.nav-button {
  border: 0.05rem solid white;
  border-radius: 0.6rem;
  background: none;
  color: white;
  height: 2rem;
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.light-mode .nav-button {
  border-color: black;
  color: black;
}

/* Background Textures + Animation */
@keyframes bgr-idle {
  50% {
    transform: translate(10px, 10px);
  }
  100% {
    transform: translate(0px, 0px); 
  }
}
.bgr-animated {
  display: none;
  z-index: -1;
  opacity: 25%;
  position: absolute;
  width: 100%;
  /* width: 100vw;
  height: 100vh; */
  /*height: 50px;
  width: 50px;
  background-color: blue; 
  background-image: url('../src/assets/Asset_1x1000.png'); */
  animation: 3s ease-in-out infinite bgr-idle;
}
.light-mode .bgr-animated {
  opacity: 2%;
}

/* Media Breakpoints */
@media screen and (min-width: 768) {
  
}
@media screen and (min-width: 1024px) {
  nav h1 {
    font-size: 1.5rem;
  }

  #main-container {
    flex-direction: row;
    height: 80%;
  }

  #content-container, #projects-container {
    border-width: 2px;
    width: 47%;
    max-height: 100%;
    overflow-y: initial;
    padding: 0.5rem;
    margin: 1rem;
  }

  #content-container h3, #projects-container h3 {
    font-size: 1.7rem;
  }
  
  #projects-container div {
    font-size: 1.1rem;
  }

  footer {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  #mode-tray {
    padding-left: 1rem;
  }
  #icons-tray {
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
    padding-right: 1rem;
  }

}